body {
    direction: rtl;
    text-align: right;
}
.navbar-nav {
    margin-left: initial !important;
    margin-right: auto;
}
.post-meta {
    text-align: left;
}
pager-botton {
    float: left !important;
}

header.masthead .site-heading .h1 {
    font-size: 40px;
}
h3.post-subtitle {
    font-size: 20px;
}

.nav ul {
    padding-right: 0;
}
.nav ul li {
    border-bottom: none;
    height: 86px;
    line-height: 86px;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin: 0 auto;
}
.nav ul li a {
    text-decoration: none;
    color: #000000;
    display: block;
    transition: 0.3s background-color;
    padding: 0 24px;
}
.nav ul li a:hover {
    background-color: #006a81;
    color: #1a1e21;
}
.nav a {
    border-bottom: none;
}
.nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}
.nav li:hover {
    display: block;
}
.nav ul li ul li {
    display: block;
    float: none !important;
    height: auto;
    line-height: 34px;
}
.nav ul li ul li {
    position: absolute;
    right: 100px;
    top: 0;
    display: none !important;
}
.nav ul > li > ul > li:hover {
    display: block !important;
}
.nav ul > li > ul > li > ul:hover {
    display: block !important;
}